<a href="https://colab.research.google.com/github/mchlhrrmnn/ma1a/blob/main/oreilly_introduction_to_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Beispiele aus
https://learning.oreilly.com/course/introduction-to-programming/9781836204718/

In [ ]:
Ganzzahl = 42 #integer
Kommazahl = 3.14 #float
Zeichenkette = "Hallo Welt" #string
Wahrheitswert = True #boolen

zweiteGanzzahl = Ganzzahl = 23
zweiteGanzzahl, Ganzzahl = 1, 2

Ganzzahl = int("42") #string zu int, cast to float per "float()", "str()"...
print(type(Ganzzahl), Ganzzahl+1) #type anzeigen

<class 'int'> 43

## (2) Listen

In [ ]:
from pickle import TRUE
liste = ['Hund','Katze','Maus'] #list object
liste[0] # fängt mit 0 an!
print(len(liste)) #len für Dimension
print(len(liste[1])) #len für Länge des 2.Strings
liste[1] = 'Tiger' #Update, "Katze" ersetzen
liste.append('Einhorn') #anfügen
oben = liste.pop() #letztes=oberstes Element, Achtung: Liste dadurch geändert!
# liste.sort() #sortieren _mit_ Original ändern
sort_liste=sorted(liste, reverse=True) #sortien _ohne_ Original zu ändern
reversed_list = list(reversed(liste))
print(reversed_list)

print(liste[1:2]) # GOTCHA: Nr. 2 EX-klusive
abc=list('ABCDEFG')
print(abc)
print(abc[0::2]) #slicing: jedes ZWEITE nehmen:

liste = [ list(range(2,3)), list(range(4)) ]
print(liste)

3
5
['Maus', 'Tiger', 'Hund']
['Tiger']
['A', 'B', 'C', 'D', 'E', 'F', 'G']
['A', 'C', 'E', 'G']
[[2], [0, 1, 2, 3]]
2

## (3) Operatoren

In [ ]:
myfloat = 3.1415
print(myfloat // 2) #integer division -> floor, Ergebnis ist float
print(11 % 3) # 11:3 = 3, Rest: 2
print("Hallo" + "Welt") #concat (ohne Blank, natürlich)
print("#" * 50) #wiederholen
print(1 == 2) #vergleichen versus "=" fürs zuweisen
print("Spatz" in ['Hund','Katze','Maus'] ) #in -> False
print("Spatz" not in ['Hund','Katze','Maus'] ) #not -> True
print( ['Hund','Katze','Maus'] == ['Hund','Katze','Maus'] ) #== -> True
print( ['Hund','Katze','Maus'] is ['Hund','Katze','Maus'] ) #is -> False (not same location!!)

if 1 == 2:
    print("True") #Blockbildung über Einrückung mit Doppelpunkt!
elif 1 == 1: #else-if
    print("elif")
else:
    print("False")

1.0
2
HalloWelt
##################################################
False
False
True
True
False
elif

## (3) Loops

In [ ]:
liste = ['Hund','Katze','Maus'] #list object
for index, jedes in enumerate(liste): #enumerate nötig für index!
    print(index, jedes)
    if jedes == 'Katze':
      break #Abbruch der Schleife
print(jedes,'\n')

index = 0
while index < len(liste):
    print(liste[index])
    index += 1

0 Hund
1 Katze
Katze

Hund
Katze
Maus

## (4) File Handling

In [ ]:
file = open("/content/sample_data/california_housing_test.csv",'r')
#for line in file:
    # print(line)
#oder:
file.seek(0)
text=file.read()
# print(text)

i = 0
file.close() # nicht nötig wenn man mit with arbeitet:
with open("/content/sample_data/california_housing_test.csv",'r') as file:
    for line in file:
        if i < 10:
          print(line)
          i +=1

nummer = 42
eingabe = input("Ihre Lieblingszahl: ")
print("42 + {} = {}".format(eingabe, nummer+int(eingabe)))

"longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income","median_house_value"

-122.050000,37.370000,27.000000,3885.000000,661.000000,1537.000000,606.000000,6.608500,344700.000000

-118.300000,34.260000,43.000000,1510.000000,310.000000,809.000000,277.000000,3.599000,176500.000000

-117.810000,33.780000,27.000000,3589.000000,507.000000,1484.000000,495.000000,5.793400,270500.000000

-118.360000,33.820000,28.000000,67.000000,15.000000,49.000000,11.000000,6.135900,330000.000000

-119.670000,36.330000,19.000000,1241.000000,244.000000,850.000000,237.000000,2.937500,81700.000000

-119.560000,36.510000,37.000000,1018.000000,213.000000,663.000000,204.000000,1.663500,67000.000000

-121.430000,38.630000,43.000000,1009.000000,225.000000,604.000000,218.000000,1.664100,67000.000000

-120.650000,35.480000,19.000000,2310.000000,471.000000,1341.000000,441.000000,3.225000,166900.000000

-122.840000,38.400000,15.000000,3080.000000,617.000000,1446.000000,599.000000,3.669600,194400.000000

Ihre Lieblingszahl: 7
42 + 7 = 49

## (5) Funktions

In [6]:
#def Beispiel(*,my_Key1,myKey2) #positional vs. keyword, alles vor dem Stern positional
def Hallo(was=None): #default value, keyword vs. positional
  if was is None:
    was = "Welt"
  print("Hallo",was)

def Example(*args, **kwargs): #kwargs=KeyWordARGumentS
  print(args)
  print(kwargs)
  for arg in args:
    print(arg)
  for key in kwargs:
    print(key, "=", kwargs[key])

def main():
  Hallo()
  Hallo("zusammen")
  Example(1, 2, 3, eins="1", zwei="2")
  Example(3, 2, 1, zwei="2", eins="1")

if __name__ == '__main__': #nur aufrufen, wenn main, also nicht per "import" included
  main()

Hallo Welt
Hallo zusammen
(1, 2, 3)
{'eins': '1', 'zwei': '2'}
1
2
3
eins = 1
zwei = 2
(3, 2, 1)
{'zwei': '2', 'eins': '1'}
3
2
1
zwei = 2
eins = 1

## (6) Exceptions

In [12]:
total = 4
count = 0
try:
  average = total / count
except ZeroDivisionError as crowbar:
  print('Cannot divide by zero', crowbar)
finally:
  print('hier schnell noch etwas tun vor dem Programmende')

print('hier gehts normal weiter')

Cannot divide by zero division by zero
hier schnell noch etwas tun vor dem Programmende
hier gehts normal weiter

## (7) OS stuff

In [28]:
import os
os.chdir('/content')
current_directory = os.getcwd()
print(current_directory)
directory_files = os.listdir(os.path.join(current_directory, 'sample_data'))
print(directory_files)
filepath = os.path.join(current_directory, 'sample_data')
print(filepath)
exception_stats = os.stat(filepath)
print(exception_stats)

/content
['anscombe.json', 'README.md', 'california_housing_test.csv', 'california_housing_train.csv', 'mnist_train_small.csv', 'mnist_test.csv']
/content/sample_data
os.stat_result(st_mode=16877, st_ino=1835015, st_dev=53, st_nlink=1, st_uid=0, st_gid=0, st_size=4096, st_atime=1734620843, st_mtime=1734618043, st_ctime=1734620843)

## (8) Datetime & co

In [34]:
from datetime import datetime
today = datetime.now()
geburtstag = datetime(1968,8,3)
print("Alter:", today - geburtstag)

Alter: 20600 days, 9:51:25.538999